body,
html {
    background-color: #AB1B1F;
    color: #333333;
    font: 1em Arial, Helvetica, sans-serif;
    height: 100%;
}

div#page-header {
    text-align: center;
}

label {
    font-size: 15px;
    font-weight: bold;
}

#wrapper_main {
    height: 75px;
    padding-top: 9px;
}

.location {
    background-color: white;
    border-top: 5px solid black;
    border-right: 5px solid black;
    border-bottom: 15px solid black;
    border-left: 5px solid black;
    width: 90%;
    margin: 10px auto;
}

#page-content {
    margin: 39px auto 0px;
    width: 100%;
    height: auto;
    /*+box-shadow: 5px -4px 209px 4px;*/
    -moz-box-shadow: 5px -4px 209px 4px;
    -webkit-box-shadow: 5px -4px 209px 4px;
    box-shadow: 5px -4px 209px 4px;
    padding-right: 0px;
    padding-left: 0;
}

#location-container {
    padding-bottom: 30px;
}

input,
textarea {
    margin: 10px 0 9px auto;
    border-top: 1px solid #666666;
    border-right: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    border-left: 1px solid #666666;
    font-size: 16px;
    background-color: rgb(250, 255, 189);
    text-align: center;
}

textarea {
    margin: 10px auto;
    width: 100%;
}

input:focus {
    border: 1px solid #0099CC;
}

textarea:focus {
    border: 1px solid #0099CC;
}

[class*="entersubbtn-"] {
    margin: 10px auto;
    width: 100%;
    padding: 0.4em 1em;
    text-decoration: none;
    cursor: pointer;
    font-size: 17px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #777777;
    background: #111111;
    color: #E3E3E3;
}

.w3-button {
    font-size: 17px;
    background-color: #000000;
    color: #FFFFFF;
    margin-top: 28px;
    /*+box-shadow: 0 0 15px;*/
    -moz-box-shadow: 0 0 15px;
    -webkit-box-shadow: 0 0 15px;
    box-shadow: 0 0 15px;
}

.registerbtndrop {
    background-color: #3E4145;
}

p.selectloc {
    font-size: 15px;
    background-color: rgba(184, 64, 68, 0.435);
    margin-bottom: 75px;
    margin-top: 40px;
    padding: 7px;
    border: 1px solid #CA0000;
}

h4 {
    margin-top: 18px;
}

fieldset {
    /*+box-shadow: inset 0px -8px 20px 2px;*/
    -moz-box-shadow: inset 0px -8px 20px 2px;
    -webkit-box-shadow: inset 0px -8px 20px 2px;
    box-shadow: inset 0px -8px 20px 2px;
    padding-top: 20px;
    padding-bottom: 35px;
    margin-top: 22px;
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
}

p.equals,
p.minus,
p.multiply {
    margin-top: 17px;
    font-size: 30px;
    height: 23px;
    padding-top: 15px;
    text-shadow: 0px 2px 5px #FAFAFA;
}

button span {
    font-size: 11px;
    font-weight: bold;
    text-shadow: 0px 6px 0px;
}

legend {
    font-weight: bold;
    font-size: 15px;
    border-bottom: 1px solid #FFFFFF;
    border: 1px solid #FFFFFF;
    padding: 9px;
}

p.disclaimer {
    font-size: 15px;
    background-color: rgba(184, 64, 68, 0.435);
    padding: 7px;
    border: 1px solid #CA0000;
}

.totalprivdue div {
    margin: auto;
}

.submitbutton {
    margin-bottom: 237px;
    margin-top: -1px;
}

.totalprivdue {
    height: 75px;
    padding: 0px 20%;
}

fieldset div.w3-container {
    padding-right: 0;
    padding-left: 0;
}

div.w3-container.dropdown {
    padding-right: 0;
    padding-left: 0;
}

.locatepriv {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-y: auto;
    transition: 0.5s;
    background-color: rgba(0, 0, 0, 0.767);
}

.overlay-content {
    position: relative;
    top: 10%;
    width: 100%;
    text-align: center;
}

.locatepriv a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #CACACA;
    display: block;
    transition: 0.3s;
}

.locatepriv a:hover,
.overlay a:focus {
    color: #F1F1F1;
}

.locatepriv .closebtn {
    position: absolute;
    font-size: 60px;
    /*+placement: shift 0px 30px;*/
    position: relative;
    left: 0px;
    top: 30px;
}
